
  {{ form_start(form) }}
    <br>
    {{ form_widget(form) }}
    <br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <button class="btn btn-success  text-center">{{ button_label|default('Save') }}<i class="fas fa-check"></i></button>
{{ form_end(form) }}
