
{% apply inline_css %}


        <style>
        div {
            bgcolor= :#FFA73 " ;
            align :center ;
        }

        </style>
        <div>
            Votre code de validation d'inscription est le suivant : {{code}}
        </div>

{% endapply %}