
        <div class="card text-center">
            <img src="../uploads/{{culture.flag}}" class="img-fluid" alt="">          
            <h4>{{culture.pays}}</h4>                               
            <span>{{culture.texte}}</span>
            <h4>Article ajouté le {{culture.getDateAjout()|date('d-m-Y')}}</h4>
        </div>
