{% block title %}{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Restaurantly Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/Front/assets/img/favicon.png" rel="icon">
  <link href="/Front/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/Front/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/Front/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/Front/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/Front/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/Front/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/Front/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/Front/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/Front/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Restaurantly - v3.7.0
  * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
      <nav id="navbar" class="navbar order-last order-lg-0">    
      
      </nav><!-- .navbar -->
     

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="heroreg" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>L'aventure du <span> tour du monde</span></h1>
          <h2>Un complexe culinaire qui sera votre destination phare</h2>

          <div class="btns">
            
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">S'inscrire</a>
            <a href="login" class="btn-menu animated fadeInUp scrollto">Se connecter</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">



   

   

<body>
   <div class="main">
   

        <div class="container">
          
                 {{ form_start(registrationForm) }}
                   
                  <br>
    {{ form_widget(registrationForm) }}
    <br>  
                        <br>
                        <span class="txt1 p-b-11">
    

<div class="wrap-input100 m-b-36"> 
    {{ form_widget(registrationForm.captchaCode, {'attr': {'class': 'input100'} }) }}       
    <span class="focus-input100"></span>
</div>
<br>
</span>
                        <div class="form-submit">
                         <button type="submit" class="submit">Register</button>
                        </div>
                  
                {{ form_end(registrationForm) }}

    <br> 

                

</div>
<br>
<br>

</body>
  <!-- Vendor JS Files -->
  <script src="/Front/assets/vendor/aos/aos.js"></script>
  <script src="/Front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/Front/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/Front/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/Front/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/Front/assets/js/main.js"></script>

{% endblock %}
