
{% block title %}Register{% endblock %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/Registration/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    
  <link href="/Front/assets/css/style.css" rel="stylesheet">
</head>

<body>
   <div class="main">

        <div class="container">

                 {{ form_start(registrationForm) }}
                   
                      
                        
                        
                        <div class="form-submit">
                         <button type="submit" class="submit">Register</button>
                        </div>
                  
                {{ form_end(registrationForm) }}

</div>

</body>
  <!-- Vendor JS Files -->
  <script src="/Front/assets/vendor/aos/aos.js"></script>
  <script src="/Front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/Front/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/Front/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/Front/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/Front/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/Front/assets/js/main.js"></script>

{% endblock %}
