{% extends 'admin.html.twig' %}

{% block gestion %}
              <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Gestion des Cultures
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addC" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Culture</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listCulturesb" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Cultures</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-percentage"></i>
              <p>
                Gestion des Offres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addO" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter une Offre</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listOffresb" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Offres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="cal" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Calendrier des Offres</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item menu-open">
            <a href="#" class="nav-link active" style="background-color: #E5BC4E;">
              <i class="nav-icon fas fa-fighter-jet"></i>
              <p>
                Gestion des Voyages
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="addV" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Ajouter un Voyage</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="listVoyages" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p> Consulter les Voyages</p>
                </a>
              </li>
            </ul>
          </li>
{% endblock %}
{% block linksCal %}
  <!-- Calendar -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" 
        integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88="
        crossorigin="anonymous">


  <style>
    #calendrier{
        width: 80%;
        margin: auto;
    }
    </style>
  
{% endblock %}

{% block titrePage %}
              <div class="col-sm-6">
            <h1 class="m-0"> le Calendrier des Offres</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"> Gestion des Offres</li>
              <li class="breadcrumb-item active"> Calendrier des Offres</li>
            </ol>
          </div><!-- /.col -->
{% endblock %}






{% block jsCal %}
    <!-- Calendar -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" 
        integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" 
        crossorigin="anonymous">
    </script>

    <script>
        window.onload = () => {
        //document.addEventListener('DOMContentLoaded', function() {
        let calendarElt = document.querySelector("#calendrier");
        let calendar = new FullCalendar.Calendar(calendarElt, {
          initialView: 'dayGridMonth',

          locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },

            events: {{ data|raw }}  
        })

        calendar.render();
      };
        
    </script>
{% endblock %}

{% block body %}
    <div id="calendrier">

    </div>
    <div class="card-footer">
    
                <a href="{{ path('listOffresb') }}" type="button" class="btn btn-secondary" >Retour à la Liste</a>
    </div>
    
{% endblock %}
